In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
YOUR_AWS_URL = "ec2-16-162-220-1.ap-east-1.compute.amazonaws.com"
DATABASE_URL = f"postgresql://dhg503:dhg503dhg503@{YOUR_AWS_URL}:54503/dhg503"

engine = create_engine(DATABASE_URL)

In [5]:
mqshilu = pd.read_sql("SELECT * FROM mqshilu LIMIT 100", engine)
mqshilu

,id,title,year,date,content,king
0,625,憲宗純皇帝實錄 卷一百十五 成化九年 四月 二十一日,1473,成化九年 四月 二十一日,○詔修南京功臣廟殿廡門庫房屋七十六間并祭器之不堪供祀者從南京守備參贊等官議也,憲宗純皇帝
1,626,太祖高皇帝實錄 卷二百四十五 洪武二十九年 三月 三日,1396,洪武二十九年 三月 三日,○庚申命中軍都督府都督僉事朱信前軍都督府都督僉事宣信總神策橫海蘇州等太倉等四十衛將士八萬餘人...,太祖高皇帝
2,627,憲宗純皇帝實錄 卷三十二 成化二年 七月 十七日,1466,成化二年 七月 十七日,○丙戌禮科給事中樊冕樊冕:廣本冕作晃。九年考滿陞本科都給事中都給事中:抱本脫中以上十三字。,憲宗純皇帝
3,628,憲宗純皇帝實錄 卷二百六十八 成化二十一年 七月 四日,1485,成化二十一年 七月 四日,壬子 仁孝文皇后忌辰 奉先殿行祭禮遣駙馬都尉樊凱祭 長陵,憲宗純皇帝
4,629,太祖高皇帝實錄 卷三 乙未歲 十二月 一日,1355,乙未歲 十二月 一日,冬十二月壬子朔釋元萬戶納哈出北歸納哈出者木華黎裔孫也木華黎裔孫也:明史馮勝傳同。抱本裔作嫡。...,太祖高皇帝
...,...,...,...,...,...,...
95,720,太宗文皇帝實錄 卷二百六十六 永樂二十一年 十二月 十九日,1423,永樂二十一年 十二月 十九日,○丙寅○乞列馬尼池面乞列馬尼池面:廣本抱本池作地，是也。回回阿卜都那迷并岷州衛番僧堅藏曼即堅...,太宗文皇帝
96,721,世宗肅皇帝實錄 卷一百 嘉靖八年 四月 十一日,1529,嘉靖八年 四月 十一日,○大理寺卿陳璋以病乞休詔許回籍調治仍給驛歸,世宗肅皇帝
97,722,太宗文皇帝實錄 卷二十三 永樂元年 九月 十七日,1403,永樂元年 九月 十七日,○壬辰脩鳳陽 皇陵殿廡,太宗文皇帝
98,723,世宗肅皇帝實錄 卷五百三 嘉靖四十年 十一月 十七日,1561,嘉靖四十年 十一月 十七日,○癸卯陞順天府尹呂時中為戶部右侍郎總督倉塲督理西苑農事,世宗肅皇帝
99,724,太祖高皇帝實錄 卷六十四 洪武四年 四月 二十九日,1371,洪武四年 四月 二十九日,○以王廉為澠池縣丞澠池之境舊有虎害耕夫行旅甚苦之廉至為文告城隍之神詞甚激切已而虎遂絕迹廉處州...,太祖高皇帝

In [6]:
mytable = pd.read_sql("SELECT * FROM mytable ", engine)
mytable

   id title  year        date                               content
0   1    學而  2025  2025-01-01  學而時習之，不亦說乎？有朋自遠方來，不亦樂乎？人不知而不慍，不亦君子乎？
1   2    為政  2025  2025-01-01                    為政以德，譬如北辰，居其所而眾星共之

In [10]:
new_data = [
    {
        "id": 3,
        "title": "八佾",
        "year": 2025,
        "date": "2025-01-02",
        "content": "孔子謂季氏：「八佾舞於庭，是可忍也，孰不可忍也？」",
    },
    {
        "id": 4,
        "title": "里仁",
        "year": 2025,
        "date": "2025-01-03",
        "content": "君子去仁，惡乎成名？君子無終食之間違仁，造次必於是，顛沛必於是。",
    },
    {
        "id": 5,
        "title": "公冶長",
        "year": 2025,
        "date": "2025-01-04",
        "content": "子謂公冶長，「可妻也。雖在縲絏之中，非其罪也」。以其子妻之。",
    },
]
new_mytable = pd.DataFrame(new_data)

## Upload new data to the database `mytable` table.

### Option 1: Merge new data with existing data and upload to the database

In [11]:
new_mytable = pd.concat([mytable, new_mytable])
new_mytable.to_sql("mytable", engine, if_exists="replace", index=False)

5

### Option 2: Append new data to the database

In [8]:
new_mytable.to_sql("mytable", engine, if_exists="append", index=False)

### Option 3: Replace the existing data

In [ ]:
new_mytable.to_sql("mytable", engine, if_exists="replace", index=False)